.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  .hero h1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px; /* Adjust as needed */
  }
  
  .first {
    position: absolute;
    top: 90px; /* Adjust as needed based on h1 height */
    left: 20px; /* Adjust as needed */
    width: 50%;
    border: 1px solid white;
  }
  